body {
  font-family: 'Public sans', sans-serif;
  font-weight: 300, 400, 700;
  margin: 4rem 0 0 0;
  padding: 0;
  font-size: 18px;
  max-width: 100vw;
  color: #666;
}

h1, h2, h3 {
  color: hsl(233, 26%, 24%);
  margin: 0;
}

h1 { 
  font-weight: 300;
}

h3 {
  margin-top: 2rem;
}

/** Header */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color:white;
  padding: 0 1rem;
  z-index: 100;
}

header .wrapper {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .button {
  margin-right: 1rem;
}

.header_logo {
  width: 139px;
  height: 20px;
}

.header_nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header_nav li {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 1.25rem;
}

.header_nav li a {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  color: #666;
  text-decoration: none;
}

.header_nav li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: hsl(192, 70%, 51%);
  opacity: 0;
  transition: all ease 200ms;
}

.header_nav li a:hover {
  color: #222;
}

.header_nav li a:hover::before {
  opacity: 1;
}

header .toggle-menu {
  display: none;
  margin-right: 2rem;
  background: transparent;
  border: 0;
}


@media (max-width: 1080px) {
  .header_nav {
    top: 5rem;
    box-shadow: 0px 2rem 10rem 1px hsl(233, 26%, 24%);
    border-radius: 0.5rem;
    z-index: -1;
    background: white;
    position: fixed;
    width: calc(100vw - 4rem);
    opacity: 0;
    transition: all 200ms ease;
    transform: scale(0.85) translateY(-6rem);
    flex-direction: column;
    pointer-events: none;
  }

  .header_nav[aria-hidden="false"] {
    transform: scale(1) translateY(0);
    opacity: 1;
    pointer-events: all;
  }

  .close-btn { display: none; }

  .header_nav li {
    font-weight: bold;
    margin: 2rem;
  }
  
  .header_nav a {
    color: hsl(233, 26%, 24%);
    margin: auto;
  }

  .header_nav a::before {
    display: none;
  }

  header .button {
    display: none;
  }

  header .toggle-menu {
    display: block;
  }
}

/** Hero display */

.hero {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 50;
  min-height: 70vh;
  width: 100%;
  background: url('./images/bg-intro-desktop.svg') no-repeat 55vw -260px, hsl(0, 0%, 98%);
}

.hero .wrapper {
  width: 1440px;
}

.hero_mockups {
  position: absolute;
  right: 0;
  top: 0;
  height: 939px;
  width: 767px;
  background: url('./images/image-mockups.png') no-repeat 140px -80px;
}

.hero_content {
  z-index: 30;
  max-width: 600px;
  padding-left: 2rem;
}

.hero h1 {
  font-size: 60px;
  color: hsl(233, 26%, 24%);
  line-height: 1em;
}

.main_paragraph {
  max-width: 450px;
  line-height: 1.5em;
  margin-bottom: 1.5rem;
}

@media (max-width: 1080px) {
  .hero {
    flex-direction: column-reverse;
    background-position: 25vw -50vh;
  }

  .hero .wrapper {
    width: 100%;
  }

  .hero_content {
    text-align: center;
    margin: auto;
  }

  .hero_mockups {
    height: 50vh;
    width: 100%;
    position: initial;
    background-position: center -130px;
    background-size: contain;
  }

  .main_paragraph {
    max-width: 100%;
  }
}


.container {
  background-color: hsl(0, 0%, 96%);
  padding: 5rem 0;
}

.container_paragraph {
  max-width: 600px;
  margin-bottom: 4rem;
  line-height: 1.5em;
}

.container_arguments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2rem;
  line-height: 1.5em;
}


@media (max-width: 1080px) {
  .container_arguments {
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align: center;
  }
}


.latest-articles {
  background: hsl(0, 0%, 98%);
  padding: 5rem 0;
}

.latest-articles h2 {
  margin-bottom: 2rem;
}

.latest-articles_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2rem;
  line-height: 1.5em;
}

@media (max-width: 1080px) {
  .latest-articles_content {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

.latest-articles_content article {
  background: #fff;
  border-radius: 0.25rem;
  border-radius: 0.25rem;
}

.article_image {
  width: 100%;
  height: 230px;
  background-size: 100%;
  background-repeat: no-repeat;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.money .article_image {
  background-image: url('images/image-currency.jpg');
}

.restaurant .article_image {
  background-image: url('images/image-restaurant.jpg');
}

.plane .article_image {
  background-image: url('images/image-plane.jpg');
}

.confetti .article_image {
  background-image: url('images/image-confetti.jpg');
}

.article_content {
  padding: 1rem;
}

.article_content .by {
  font-size: 0.8em;
  margin: 0;
}

.article_title {
  margin: 0.25rem 0;
}

.article_title a {
  color: hsl(233, 26%, 24%);
  text-decoration: none;
  transition: all ease 200ms;
}

.article_title a:hover {
  color: hsl(136, 65%, 51%);
}

footer {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: hsl(233, 26%, 24%);
}



footer .logo {
  margin-bottom: 2rem;
}

footer .icons button {
  background: transparent;
  border: 0;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

footer .icons button svg {
  color: #fff;
  transition: all ease 200ms;
}

footer .icons button:hover svg {
  color: hsl(136, 65%, 51%);
}

footer .links {
  display: flex;
}

footer .links ul {
  list-style-type: none;
  margin-left: 3rem;
}

footer .links li {
  margin: 0.75rem;
}

footer .links a {
  color: #fff;
  text-decoration: none;
  transition: all ease 200ms;
}

footer .links a:hover {
  color: hsl(136, 65%, 51%);
}

@media (max-width: 1080px) {

  footer {
    padding-top: 2rem;
  }
  footer,
  footer .links {
    flex-direction: column;
  }

  footer .links ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .container_paragraph {
    text-align: center;
    margin: auto;
  }

  footer .thirdinfos {
    margin-top: 1rem;
    text-align: center;
  }
}

.wrapper {
  margin: auto;
  max-width: 1440px;
}

.wrapper > *:not(.header_nav):not(.button) {
  padding: 1rem;
}

.button {
  background: rgb(91,194,102);
  background: linear-gradient(90deg, rgba(91,194,102,1) 16%, rgba(0,212,255,1) 100%);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: all ease 200ms;
}

.button:hover {
  opacity: 0.6;
}